.hero-txt {
  max-width: 40rem;
}

aside {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--light);
}

aside .list-item {
  margin: 3px 0;
}

aside .list-item:hover,
aside .list-item.active {
  background-color: var(--white);
}

aside .list-item.active {
  border-left: 2px var(--primary) solid;
}

.list-item a {
  width: 100%;
}

.code-container,
.code-container iframe {
  width: 100%;
  height: 100%;
}

.translate-x-0 {
  transform: translateX(0px);
}

@media screen and (max-width: 768px) {
  aside {
    position: fixed;
    width: 13rem;
    transform: translateX(-13rem);
    z-index: 1;
    box-shadow: var(--shadow);
    transition: all 0.3s linear;
  }
}
