.hero-txt {
  max-width: 40rem;
}

aside {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.code-container,
.code-container iframe {
  width: 100%;
  height: 100%;
}

aside .list-item:hover {
  background-color: var(--light-blue);
  border-radius: var(--rounded);
}

.list-item a {
  width: 100%;
}

.translate-x-0 {
  transform: translateX(0px);
}

@media screen and (max-width: 768px) {
  aside {
    position: fixed;
    width: 13rem;
    transform: translateX(-13rem);
    background-color: var(--white);
    z-index: 1;
    border: none;
    box-shadow: var(--shadow);
    transition: all 0.3s linear;
  }
}
