.avatar,
.avatar-sm,
.avatar-md,
.avatar-lg {
  background-color: var(--light);
}

.avatar img,
.avatar-sm img,
.avatar-md img,
.avatar-lg img {
  border-radius: inherit;
  object-fit: cover;
}

.avatar-sm {
  width: 2rem;
  height: 2rem;
}

.avatar {
  width: 3rem;
  height: 3rem;
}

.avatar-md {
  width: 4rem;
  height: 4rem;
}

.avatar-lg {
  width: 5rem;
  height: 5rem;
}

.avatar-status {
  border: 2px solid var(--white);
  background-color: var(--light);
  padding: 8%;
  border-radius: var(--rounded-full);
  position: absolute;
  bottom: 0;
  right: 0.2em;
}

.avatar-status.online {
  background-color: var(--success);
}

.avatar-status.offline {
  background-color: var(--light);
}

.avatar-status.dnd {
  background-color: var(--danger);
}
