header {
  background-color: var(--white);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.navbar-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 230px;
  transform: translateX(-230px);
  background-color: var(--white);
  box-shadow: var(--shadow);
  padding: 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;
}

.navbar-menu-visible {
  transform: translateX(0px);
}

.navbar-item {
  display: inline-block;
  padding: 0.5em;
  margin: 0.3em 0;
}

.navbar-toggler {
  cursor: pointer;
}

.container {
  width: 95%;
  max-width: 1450px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-menu {
    position: unset;
    flex-direction: row;
    width: unset;
    padding: unset;
    box-shadow: none;
    transform: translateX(0);
    align-items: center;
  }

  .navbar-item {
    margin: 0 0.3em;
  }
}
