.bg-primary {
  background-color: var(--primary);
  color: var(--white);
}
.bg-secondary {
  background-color: var(--secondary);
  color: var(--white);
}
.bg-success {
  background-color: var(--success);
  color: var(--white);
}
.bg-danger {
  background-color: var(--danger);
  color: var(--white);
}
.bg-warning {
  background-color: var(--warning);
}
.bg-info {
  background-color: var(--info);
}
.bg-light {
  background-color: var(--light);
}
.bg-dark {
  background-color: var(--dark);
  color: var(--white);
}
.bg-white {
  background-color: var(--white);
}
.bg-transperent {
  background-color: transparent;
}
