.rounded {
  border-radius: var(--rounded);
}

.rounded-top-left {
  border-top-left-radius: var(--rounded);
}

.rounded-top-right {
  border-top-right-radius: var(--rounded);
}

.rounded-bottom-left {
  border-bottom-left-radius: var(--rounded);
}

.rounded-bottom-right {
  border-bottom-right-radius: var(--rounded);
}

.rounded-full {
  border-radius: var(--rounded-full);
}

.border {
  border: 1px var(--light) solid;
}
.border-top {
  border-top: 1px var(--light) solid;
}
.border-start {
  border-left: 1px var(--light) solid;
}
.border-bottom {
  border-bottom: 1px var(--light) solid;
}
.border-end {
  border-right: 1px var(--light) solid;
}

.border-primary {
  border-color: var(--primary);
}
.border-secondary {
  border-color: var(--secondary);
}
.border-danger {
  border-color: var(--danger);
}
.border-warning {
  border-color: var(--warning);
}
.border-success {
  border-color: var(--success);
}
.border-info {
  border-color: var(--info);
}
.border-dark {
  border-color: var(--dark);
}
