.hide {
  display: none;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

@media screen and (min-width: 480px) {
  .hide-xs {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .hide-sm {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hide-md {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .hide-lg {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hide-xl {
    display: none;
  }
}
