/* GAP */

.row-gap-1 {
  grid-row-gap: 0.5rem;
}
.col-gap-1 {
  grid-column-gap: 0.5rem;
}
.gap-1 {
  grid-gap: 0.5rem;
}

.row-gap-2 {
  grid-row-gap: 1rem;
}
.col-gap-2 {
  grid-column-gap: 1rem;
}
.gap-2 {
  grid-gap: 1rem;
}

.row-gap-3 {
  grid-row-gap: 1.5rem;
}
.col-gap-3 {
  grid-column-gap: 1.5rem;
}
.gap-3 {
  grid-gap: 1.5rem;
}

.row-gap-4 {
  grid-row-gap: 2rem;
}
.col-gap-4 {
  grid-column-gap: 2rem;
}
.gap-4 {
  grid-gap: 2rem;
}

/* JUSTIFY CONTENT */
.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}

/* ALIGN CONTENT */
.align-content-center {
  align-content: center;
}
.align-content-start {
  align-content: start;
}
.align-content-end {
  align-content: end;
}
.align-content-stretch {
  align-content: stretch;
}
.align-content-between {
  align-content: space-between;
}
.align-content-around {
  align-content: space-around;
}
.align-content-evenly {
  align-content: space-evenly;
}

/* ALIGN SELF */
.align-self-center {
  align-self: center;
}
.align-self-start {
  align-self: start;
}
.align-self-end {
  align-self: end;
}
.align-self-stretch {
  align-self: stretch;
}

/* ALIGN ITEMS */
.align-items-start {
  align-items: start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: end;
}
.align-items-stretch {
  align-items: stretch;
}
